# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
backend/venv/

# Database
*.db

# Environment Variables
.env

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Node
node_modules/

