# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
backend/venv/
frontend/venv/

# Database
*.db
*.db.bak

# Environment Variables
.env

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Node
node_modules/

backend/uploads/*
!backend/uploads/.gitkeep
